<template>
  <div class="{{name}}">
   1
  </div>
</template>

<script>
export default {
  name: '{{name}}',
  data() { 
    return {

    }
  },
  mounted() { 

  },
  methods: { 

  }
 }
</script>

<style lang='scss' scoped>
  .{{name}}{

  }
</style>